
/* ==========================================================================
   #FONT
   ========================================================================== */


.font-Montserrat {
  font-family: "Montserrat", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 30px) / 2);
  width: -moz-calc((100% - 30px) / 2);
  width: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */


body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg{
  background-color: #d1ddf4;
}

.bg1{
  background-color: #f1f4fb;
}
.pdf{
  text-align: right;
}
.title-head{
  color:#3b578e ;
  letter-spacing: 0.1em;
  font-weight: 800;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  margin-top: 10vh;
}

.p-r-100{
padding-left: 15vw;
padding-right: 15vw;
}

.p-t-130 {
  padding-top: 50px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.m-r-45 {
  margin-right: 45px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.cen{
  text-align: center;
}
  
.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

.btn--blue {
  background: #142850;
}

.btn--blue:hover {
  background: #3868cd;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
#size{
  width:550px;
}

input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input--style-4 {
  line-height: 30px;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #142850;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #142850;
}

.input--style-4:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #142850;
  opacity: 1;
}

.input--style-4::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #142850;
  opacity: 1;
}

.input--style-4:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #142850;
}

.input--style-4:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #142850;
}

.label {
  font-size: 14px;
  color: #142850;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #142850;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #142850;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-group {
  position: relative;
  margin-bottom: 22px;
}

.input-group-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #999;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 50px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 0;
  color: #555;
  font-size: 16px;
  font-family: inherit;
  padding-left: 22px;
  padding-right: 50px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 50px;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 24px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

.select2-container--default .select2-results__option {
  padding-left: 22px;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-size: 20px;
  color: #223b6e;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

#reg{
  background: #d1ddf4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

#discicon{
  margin: 0 auto;
  font-size: 150px;
  text-align: center;
  padding-bottom: 20px;
}
#info{
  background-color: #182f5c;
  
}
.image{
  /* background-image: url("../ieee.jpeg"); */
  opacity:1;
  width: 100%;
  box-shadow: #333 2px 5px 10px;
}

.top{
  left:0;
position: absolute;
color: #fff;
padding-top: 3vw;
font-size: 1rem;
text-align: center;
opacity:1;
padding-left: 3vw;
padding-right: 3vw;

}
.bttn-cont {
  margin-top: 3vw;
  text-align: center;
  
}

.bttn-cont .bttn {

  position: relative;
  padding: 1rem;
  color: #fafafa;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}

.bttn-cont .bttn:hover {
  border: none;
}

.bttn-cont .bttn:hover .line-1 {
  animation: move1 1500ms infinite ease;
}

.bttn-cont .bttn:hover .line-2 {
  animation: move2 1500ms infinite ease;
}

.bttn-cont .bttn:hover .line-3 {
  animation: move3 1500ms infinite ease;
}

.bttn-cont .bttn:hover .line-4 {
  animation: move4 1500ms infinite ease;
}

.bttn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: #fafafa;
  left: 0;
  bottom: 0;
}

.bttn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #fafafa;
  left: 0;
  top: 0;
}

.bttn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: #fafafa;
  right: 0;
  top: 0;
}

.bttn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #fafafa;
  right: 0;
  bottom: 0;
}
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }

  54% {
    height: 0;
    bottom: 100%;
  }

  55% {
    height: 0;
    bottom: 0;
  }

  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }

  54% {
    height: 0;
    top: 100%;
  }

  55% {
    height: 0;
    top: 0;
  }

  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }

  55% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}


.card-4 {
  background: #fff;
  /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15); */
}

.card-4 .card-body {
  padding: 2vw;
  padding-bottom: 2vw;
}

@media (max-width: 767px) {
  div#dobs.col-md-6{
    padding:12px;
  }
  .card-4 .card-body {
    padding: 50px 40px;
  }
  .p-r-100{
    padding-right: 30px;
    padding-left: 30px;
  }
  #info{
    
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
}

/* grid */
.grid {
  box-shadow: 0 10px 10px 2px #4345475e;
  border-radius: 2px;
  height: fit-content;
  justify-content: center;
  background-color: #142850;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: 1.2vw;
  font-weight: 400;
  margin: auto;
  /* max-width: 1000px; */
  width: 900px;
  /* grid-row-gap: 30vh; */
  grid-row-gap: 60vh;
  display: block;
  padding: 10px 40px;
}

@media screen and (min-width: 320px) and (max-width: 640px){
  .grid {
    width: 80%;
    height: fit-content;
    font-size: 16px;
    grid-row-gap: 30vh;
    display: block;
    padding: 5vw;
    justify-content: center;
    order: 2;
    margin-bottom: 80px;
}
.p-r-100{
  padding-right: 30px;
  padding-left: 30px;
}

}


#heading {
  text-align: center;
  color: #3b578e;
  font-weight: 600;
  font-size: 3vw;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
  #heading {
    color: #3b578e;
    font-weight: 600;
    font-size: 10vw;
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-r-100{
    padding-right: 30px;
    padding-left: 30px;
  }

  .title-head{
    text-align: center;
  }
  
  .bttn-cont .bttn {
    margin-top: 10vw;
    position: relative;
    padding: 5vw;
    color: #fafafa;
    text-decoration: none;
    font-size: 5vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
  }
  .pdf{
    text-align: center;
  }
  
  #discicon{
    margin: 5vw auto;
    font-size: 150px;
    text-align: center;
    padding-bottom: 20px;
  }
  .top{
  position: relative;
  color: #fff;
  padding-top: 0;
  text-align: center;
  font-size: 5vw;
  opacity:1;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 10vw;
  margin: 0 auto;
  }
}

@media only screen 
  and (min-device-width: 768px) and (max-device-width: 1024px) 
  {
    div#dobs.col-md-6{
      padding:12px;
    }
  }

  @media (min-device-width :1025px){
    div#dobs.col-md-6{
      padding:12px;
    }
  }