/*-------------------------------footer code start---------------------*/
.footer {
    background-color: #303036;
    color: white;
    height: 400px;
    position: relative;
}

.footer .footer-content {
    border: 1px solid red;
    height: 350px;
    display: flex;
}

.footer .col-lg-4,
.col-md-6 {
    padding-left: 45px;
    padding-right: 45px;
}

.footer .footer-content .footer-section {
    flex: 1;
    border: 1px solid white;
    padding: 25px;
}

.footer .footer-bottom {
    background-color: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

footer .new_footer_area {
    background: #fbfbfd;
}

.new_footer_top {
    padding: 20px 0px 40px 0px;
    position: relative;
    overflow: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_bottom {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    padding: 27px 0px;
    /*light
    background-color: #e6e6e6;
    color: #7f88a6;*/
    background-color: #27496d;
    color: #d7deed;
}

div.footer_bottom {

    text-align: center;
    justify-content: center;
    display: flex;

}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    /*light
    color: #00004d;*/
    color: white;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

footer .btn_get_two:hover {
    background: transparent;
    color: #27496d;
}

footer .btn_get:hover {
    color: #fff;
    background: #27496d;
    border-color: #27496d;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #27496d;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}

footer .f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
}

.new_footer_top .f_social_icon a+a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    /*light
    color: #00004d;*/
    color: white;
    font-weight: 22px;
}

footer .f_600 {
    font-weight: 600;
}

footer .f_size_18 {
    font-size: 18px;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #4b505e;
}

footer .btn {
    color: white;
    background-color: #27496d;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #5e2626;
}

footer .row {
    background-color: transparent;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    /*light
    background-color: #f2f2f2;
    */
    background-color: #142850;
    width: 100%;
    /* height: 70vh; */
    height: 100%;
    /* overflow: hidden; */
    left: 0;
}

img.logo-footer {
    margin-top: 0;
    margin-bottom: 18px;
}

.footericon {
    background-color: transparent;
    padding: 20px 0;
    text-align: center;
    height: auto;
    width: 350px;
    margin-left: -30px;
    margin-top: -25px;
}

footer .form-control {
    width: auto;
}

footer ul.social-network {
    list-style: none;
    display: inline;
    margin: auto;
}

footer ul.social-network li {
    display: inline;
    margin: 0px;
}

footer ul {
    padding-inline-start: 0px;
}

/* footer social icons */
footer .social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

footer .social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

footer .social-network a.icoYoutube:hover {
    background-color: #c4302b;
}

footer .social-network a.icoQuora:hover {
    background-color: #AA2200;
}

footer .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

footer .social-network a.icoInstagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

footer .social-network a.icoRss:hover i,
footer .social-network a.icoFacebook:hover i,
footer .social-network a.icoTwitter:hover i,
footer .social-network a.icoMedium:hover i,
footer .social-network a.icoVimeo:hover i,
footer .social-network a.icoLinkedin:hover i {
    color: #fff;
}

footer .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 22px;
    margin-bottom: 12px;
    margin-right: 8.95px;
}

footer .social-circle li i {
    margin: 0;
    line-height: 60px;
    text-align: center;
}

footer .social-circle li a:hover i,
footer .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

footer .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

footer .social-circle a {
    /*light
  background-color: #CCD8EA;*/
    background-color: black;
}

@media screen and (max-width: 500px) {
    footer ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
}

@media screen and (max-width: 450px) {
    footer ul.social-network li {
        display: inline;
        margin: 0 5px;
    }

    footer .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    footer .social-circle li i {
        margin: 0;
        line-height: 40px;
        text-align: center;
    }
}



@media screen and (max-width: 350px) {
    footer ul.social-network li {
        display: inline;
        margin: 0 2px;
    }

    footer .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    footer .social-circle li i {
        margin: 0;
        line-height: 40px;
        text-align: center;
    }
}

@media (max-width:375px) {
    .f_400 {
        font-size: 3.5vw;
    }

}


@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@-moz-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-duration: 2s;
    animation-delay: 2s;
}



/*************footer End*****************/

/* ************* POP up starts ************************* */



/*-----------------pop up starts here--------------*/

.testimonial {
    background-color: white;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 20px 15px 160px;
    position: relative;
}

.testimonial::before,
.testimonial::after {
    content: "";
    border-top: 40px solid white;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonial::after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

div.conatiner {
    height: 100vh;
}

p.description {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.7em;
    font-weight: bold;
}

.testimonial .description {
    font-size: 14px;
    color: #777;
    text-align: justify;
    margin-bottom: 30px;
    opacity: 0.9;
}

.web_card_1 {
    width: 350px;
    height: 450px;
    padding: 25px;
    /*margin-left: 55px;
      margin-top: 15px;*/
    margin: auto;
    position: relative;
    justify-content: center;
    background-color: #0a1429;
}

.web_team_card1,
.web_team_card2,
.web_team_card3,
.web_team_card4,
.web_team_card5,
.web_team_card6,
.web_team_card7,
.web_team_card8 {
    width: 300px;
    height: 300px;
}

.web_team_card1 {
    background: url(../popup/img/Ajay.jpeg);
}

.web_team_card2 {
    background: url(../popup/img/bhushan.jpeg);
}

.web_team_card5 {
    background: url(../popup/img/Omkar.jpeg);
}

.web_team_card7 {
    background: url(../popup/img/Sharl.jpeg);
}

.web_team_card8 {
    background: url(../popup/img/Shreya.jpeg);
}

.web_team_card4 {
    background: url(../popup/img/Fatema.jpeg);
}

.web_team_card3 {

    background: url(../popup/img/Apurva.jpeg);
}

.web_team_card6 {
    background: url(../popup/img/Rohan.jpeg);
}


.testimonial .testimonial-content {
    width: 100%;
    left: 0;
    position: absolute;
}

.testimonial .pic {
    display: inline-block;
    border: 4px solid white;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

div.testimonial {
    background-color: #17252a;
}

div.web_card_1 {
    justify-content: center;
}

.testimonial .pic img {
    width: 300px;
    height: 300px;
}

.testimonial .name {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    margin: 10px 0 5px 0;
}

.testimonial .title {
    display: inline-block;
    font-size: 14px;
    color: #ffd9b8;
}

.owl-controls {
    margin-top: 20px;
}

.owl-pagination {
    display: flex;
    justify-content: center;
}

.owl-page {
    height: 10px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}

.owl-page:hover,
.owl-page.active {
    background-color: rgba(255, 255, 255, 0.3);
}

.owl-page:not(first-item) {
    margin-left: 10px;
}

.button_lin {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.effect {
    display: flex;
    justify-content: center;
}

.effect a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    color: #D1DDF4;
    border: 2px solid #D1DDF4;
}

.effect a i {
    position: relative;
    z-index: 3;
}

.effect a:last-child {
    margin-right: 0px;
}

.effect a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.effect a i {
    display: inline-block;
    vertical-align: middle;
}

.effect.varrius a {
    transition: all 0.2s linear 0s;
    top: -77px;
    left: auto;
}

.effect.varrius a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #0077b5;
    border-radius: 50%;
}

.effect.varrius a:hover {
    color: white;
}

.effect.varrius a:hover:after {
    top: 5%;
    transition: all 0.2s linear 0s;
}

/*.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }*/

.buttonp {
    font-size: 1vw;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid white;
    background-color: #0f1f3e;
    transition: all 0.3s ease-out;
}

.buttonp:hover {
    background: #17252A;
    color: #fff;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#popup1 {
    z-index: 500000;
}

.popup {
    background: #d6e0f5;
    width: 100%;
    position: relative;
    justify-content: center;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    font-size: 3em;
    padding-bottom: 40px;
    font-weight: bold;
    color: #333;
}

.popup .close {
    position: absolute;
    top: 30px;
    right: 40px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .contentp {
    max-height: 30%;
    overflow: auto;
    justify-content: center;
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 100%;
    }

}

@media (max-width:768px) {

    /*-----------------pop up starts here--------------*/
    .popup__close {
        position: relative;
        right: 38px;
        top: -210px;
        height: 2em;
        line-height: 1.8rem;
        background-color: transparent;
    }

    .popup h2 {
        font-size: 2em;
        padding-right: 20px;
    }

    .popup .close {
        top: 65px;
        right: 25px;
        transition: all 200ms;
        font-size: 40px;
    }

    .owl-carousel .owl-wrapper-outer {
        top: 5%;
    }



    .web_card_1 {
        width: 320px;
        padding: 10px;
        margin: auto;
        justify-content: center;
        background-color: #0a1429;
    }

    .popup .contentp {
        width: 100%;
    }

    .popup .close {
        top: 15px;
        right: 15px;
    }
}

/*-----------------pop up ends here------------------*/

@media (max-width:500px) {
    .buttonp {
        font-size: 3vw;
    }
}

/* ************* POP up ends ************************* */