body{
    overflow-x: hidden;
    background-color: #d1ddf4;
}

p{
  font-weight: 500;
}

.head {
    text-decoration: wavy;
    margin-top: 3vw;
    padding: 1vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color:#142850;
  }

  .team-photo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  }

  col-md-2{
    position: relative;
    left: 300px;
    bottom: 50px;
  }

  #imgcenter{
      text-align: center;
  }
  #imgcenter1{
    text-align: center;
}

#social{
    margin-left: 40px;
    margin-top: 10px;
}
.socialicon i::before{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom:12px;
   }
   .socialicon i::before{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom:12px;
   }

.grid {
    box-shadow: 0 10px 10px 2px #4345475e;
    border-radius: 2px;
    height: fit-content;
    justify-content: center;
    color: #142850;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    font-size: 1.2vw;
    font-weight: 400;
    margin: 2vw;
    /* max-width: 1000px; */
  
    /* grid-row-gap: 30vh; */
    grid-row-gap: 60vh;
    display: block;
    padding: 10px 40px;
    padding-bottom: 70px;
    width: 350px;
  }
  .grid1 {

    padding-bottom: 70px;

  }
  
  .grid:hover {
    transition: 0.5s;
    transform: scale(1.006, 1.006);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  }

  .team-photo1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:84%;
    padding-bottom: 30px;
    padding-top: 20px;   
}

#previousmagazine{
    height: 800px;
  }
  .gallery__img:hover{
    transform: scale(1.09);
  }
 
/* follow us */
#followus{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 40px;
    padding-top:35px;
    color: #142850;
  }

  .socialping h3{
    position: relative;
    text-align: center;
    font-weight: bold;
    bottom: 25px;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom:30px; 
  }

  .fa-facebook-f{
    color: #142850;
  }
  .fa-linkedin{
    color: #142850;
  }
  .fa-facebook-f:hover{
    color: white;
  }
  .fa-linkedin:hover{
    color: white;
  }
  .pingsocial li:hover .fab{
    color:white;
  }
  .fa-facebook-f:before{
    position: relative;
    bottom: 7px;
  }
  .fa-linkedin:before {
    position: relative;
    bottom: 8px;
  }

  #si{
      font-size: 25px;
      margin-bottom: 12px;
      color: white;
  }

@media(max-width: 432px){
.socialping ul{
    justify-content: center;
}
}

@media (max-width: 768px){
#Heading{
    font-size: medium;
}
#imgcenter{
    margin-top: 10px;
    margin-bottom: 23px;
}
#imgcenter1{
    margin-bottom: 10px;
}
p{
    padding: 20px;
}
#followus{
    text-align: center;
   }

   h2.head{
     font-size: 30px;
   }
}

@media screen and (min-width: 320px) and (max-width: 640px) {

    .grid {
        width: 80%;
        height: fit-content;
        font-size: 16px;
        grid-row-gap: 30vh;
        display: block;
        padding: 5vw;
        justify-content: center;
        order: 2;
        margin-bottom: 80px;
    
    }
    
    .grid .head {
        font-size: 30px;
        margin-bottom: 50px;
    }
}

p.description {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.testimonial .description {
    font-size: 14px;
    color: #777;
    text-align: justify;
    margin-bottom: 30px;
    opacity: 0.9;
}
  
  
  