
.fa-facebook-f{
	font-size: 50px;
	position: relative;
	top: 15px;
}
.fa-linkedin{
	font-size: 50px;
	position: relative;
	top: 15px;
	
}

.fa-facebook-f:after{
  color: white;
}
@media (max-width: 600px) {
  .socialping ul {
    transform: scale(0.8);
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .socialping ul {
    transform: scale(0.9);
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .socialping ul {
    transform: scale(1);
  }
}
@media(min-width: 300px) and (max-width: 432px){
  .socialping ul{
    justify-content: center;
  }
}

.socialping ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;


}

.socialping ul li {
  margin: 0 40px;
}

.socialping ul li a .fa {
  font-size: 40px;
  color: #555;
  line-height: 80px;
  transition: 0.5s;
}

.socialping ul li a {
  position: relative;
  display: block;
  width: 65px;
  height: 65px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.socialping ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b2b2b2;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.socialping ul li a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #e5e5e5;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.socialping ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.socialping ul li:hover .fa {
  color: #fff;
}

.socialping ul li:hover:nth-child(1) a {
  background-color: #3b5999;
}

.socialping ul li:hover:nth-child(1) a::before {
  background-color: #2f477a;
}

.socialping ul li:hover:nth-child(1) a::after {
  background-color: #4e69a3;
}

.socialping ul li:hover:nth-child(2) a {
  background-color: #55acee;
}

.socialping ul li:hover:nth-child(2) a::before {
  background-color: #4489be;
}

.socialping ul li:hover:nth-child(2) a::after {
  background-color: #66b4ef;
}

.socialping ul li:hover:nth-child(3) a {
  background-color: #dd4b39;
}

.socialping ul li:hover:nth-child(3) a::before {
  background-color: #b03c2d;
}

.socialping ul li:hover:nth-child(3) a::after {
  background-color: #e05d4c;
}

.socialping ul li:hover:nth-child(4) a {
  background-color: #0077b5;
}

.socialping ul li:hover:nth-child(4) a::before {
  background-color: #005f90;
}

.socialping ul li:hover:nth-child(4) a::after {
  background-color: #1984bc;
}

.socialping ul li:hover:nth-child(5) a {
  background-color: #e4405f;
}

.socialping ul li:hover:nth-child(5) a::before {
  background-color: #b6334c;
}

.socialping ul li:hover:nth-child(5) a::after {
  background-color: #e6536f;
}
