#button1 {
    display: inline-block;
    background-color: #3b578e;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button1::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 40px;
    color: #fff;
}

#button1:hover {
    cursor: pointer;
    background-color: black;
}

#button1:active {
    background-color: #1a1a1a;
}

#button1.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width:768px) {
    #button1 {
        width: 30px;
        height: 30px;
    }

    #button1::after {
        font-size: 1em;
        line-height: 30px;
    }



    #button1 {
        bottom: 45px;
        right: 10px;
    }
}